#type {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    justify-content: start;
    margin: 10vh;
    margin-top: 5vh;
    
}
label {
    text-align: center;
}
#type div {
    padding: 2vh;
    border-bottom: 2px solid  #9edfe4;
    border-radius: 20px;
    cursor: pointer;
  
}
#type div:hover {

background-color:   #9edfe4;

}
#categorize{
 display: grid;
 grid-template-columns: 10% auto 80%;
 margin: 3vh;
 text-align: center;
}
img {
    
    border-radius: 20px;
}
hr{
    border: 1% solid #9edfe4;
    width: 100%;
   
}
#courses{ 
    padding: 2vh;
    border: 2px solid  #9edfe4;
    border-radius: 20px;
    width: 20vw;

}
#courses iframe{ 
width: 100%;
border-radius: 20px;
}

#coursesControl{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 4vw;
    margin: 4vw;
}
#prostheticsControl{
    display: grid;
    grid-template-columns: auto auto auto;
gap:7vw;
    margin: 4vw;
    margin-left: 6vw;
}
#prostheticsImg{
    width: 20vw;
    height: 20vh;
}
#prosthetics{
    border: #9edfe4 3px solid;
    border-radius: 30px;
padding: 13px;

}
#OrganizationsControl{
display: grid;
grid-template-rows: auto auto;
gap:6vh
}

#Organization {
    display: grid;
    grid-template-columns: auto 50vw;
    grid-template-rows: 30% 50%;
    margin: 4vw;
    margin-left: 2vw;
    gap:6vh

}
#Organization img {
   grid-column-start: 1;
   grid-row-start: 1;
   grid-row-end: 3;
   border-radius: 0px;
   position: relative;
   width: 310px;
   
   height:450px;
  }
#cost{
   display: grid;
   grid-template-columns: 10px 10px 10px 70px;
    justify-content: center;
    gap: 5vh;
    margin: 15px;
}
#cost h3 {
    justify-self: center;
    align-self: center;
    margin-top: 3px;
}
#addCart {
    background-color: #9edfe4;
    width: max-content;
    padding: 1vw;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}
#cartI{
    display: grid ;
    grid-template-columns: 20%  auto ;
    grid-template-rows: 20% auto;
    margin: 40px;
}
#cartI img{
grid-row-start: 1;
grid-row-end:6;
}